/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import "assets/Panel/fonts/_inter.scss";
@import "assets/Panel/css/animation.css";
@import "assets/Panel/css/color.css";
@import "assets/Panel/css/text.css";
@import "assets/Panel/css/container.css";
@import "assets/Panel/css/buttons.css";
@import "assets/Panel/css/icons.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter var', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt", "calt", "case";
    font-family: 'Inter var';
    margin: 0px;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter var', "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
